<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.kingsoft.studentms.dao.IComJobDao">
		<resultMap type="com.kingsoft.studentms.model.ComJob" id="comJob">
			<result column="cid" property="cid" jdbcType="INTEGER" />
			<result column="username" property="username" jdbcType="VARCHAR" />
			<result column="uploadTime" property="uploadTime" jdbcType="DATE" />
			<result column="path" property="path" jdbcType="VARCHAR" />
			<result column="jid" property="jid" jdbcType="INTEGER" />
			<result column="struts" property="struts" jdbcType="VARCHAR" />
		</resultMap>
		<resultMap type="com.kingsoft.studentms.model.Submit" id="submit">
			<result column="cid" property="cid" jdbcType="INTEGER" />
			<result column="username" property="username" jdbcType="VARCHAR" />
			<result column="uploadTime" property="uploadTime" jdbcType="DATE" />
			<result column="path" property="path" jdbcType="VARCHAR" />
			<result column="jid" property="jid" jdbcType="INTEGER" />
			<result column="title" property="title" jdbcType="VARCHAR" />
			<result column="content" property="content" jdbcType="VARCHAR" />
		</resultMap>
		<!-- my -->
		<select id="selectComjobCount" resultType="java.lang.Integer">
			SELECT COUNT(*) from COMJOB C,JOB J WHERE C.jid = J.jid and J.username = #{username} 
			and C.USERNAME LIKE '%${cUsername}%' and J.title like '%${title}%'
		</select>
		
		<select id="selectComjob" resultType="com.kingsoft.studentms.model.Submit">
			SELECT
				*
			FROM
				(
					SELECT
						A .*, ROWNUM RN
					FROM
						(
							SELECT
								J.jid,
								J.title,
								J. CONTENT,
								C.cid,
								C.username,
								C.uploadtime,
								C. PATH
							FROM
								COMJOB C,
								JOB J
							WHERE
								J.USERNAME = #{username}
							AND C.JID = J.JID
							AND C.username LIKE '%${cUsername}%'
							AND J.title LIKE '%${title}%'
							ORDER BY
								${sort} ${order}
						) A
					WHERE
						<![CDATA[ROWNUM <= #{limit}
				)
			WHERE
				RN > #{offset} ]]>
		</select>
		
		
		
		
		
		<!-- 提交作业方法 -->
		<insert id="comJob">
			insert into comjob(username,uploadtime,path,jid,struts) values(
			#{comJob.username,jdbcType=VARCHAR},#{comJob.uploadTime,jdbcType=DATE},
			#{comJob.path,jdbcType=VARCHAR},#{comJob.jid,jdbcType=INTEGER},#{comJob.struts})
		</insert>
	</mapper>