<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.kingsoft.studentms.dao.IJobDao">
		<resultMap type="com.kingsoft.studentms.model.Job" id="job">
			<result column="jid" property="jid" jdbcType="INTEGER" />
			<result column="title" property="title" jdbcType="VARCHAR" />
			<result column="content" property="content" jdbcType="VARCHAR" />
			<result column="sendTime" property="sendTime" jdbcType="DATE" />
			<result column="username" property="username" jdbcType="VARCHAR" />
			<result column="path" property="path" jdbcType="VARCHAR" />
			<result column="deadTime" property="deadTime" jdbcType="DATE" />
		</resultMap>
		
		<!-- my -->
		<select id="selectJobCount" resultType="java.lang.Integer">
			select count(*) from job where username = #{username}
		</select>
		
		<select id="selectJobByUsername" resultType="com.kingsoft.studentms.model.Job" >
			SELECT * from (select A.*,ROWNUM RN from
			(select * from job where USERNAME = #{username} ORDER BY ${sort} ${order})A 
			where <![CDATA[ ROWNUM <=#{limit})WHERE RN >#{offset}]]>  
		</select>
		<delete id="deleteByPrimaryKey">
			DELETE FROM job WHERE JID = #{jid}
		</delete>
		
		
		<!-- 配置发布作业方法 -->
		<insert id="publishJob" >
			insert into
			job(content,sendtime,username,deadtime,title,path) values(
			#{job.content,jdbcType=VARCHAR},#{job.sendTime,jdbcType=DATE},
			#{job.username,jdbcType=VARCHAR},#{job.deadTime,jdbcType=DATE},
			#{job.title,jdbcType=VARCHAR},#{job.path})
		</insert>
		<!-- 模糊查询作业 -->
		<select id="queryJob" resultType="com.kingsoft.studentms.model.Job">
			select * from job where title=#{title,jdbcType=VARCHAR}
		</select>
		<!-- 查询所有的作业 -->
		<select id="queryJobList" resultType="com.kingsoft.studentms.model.Job">
			select * from job where title like '$%{title,jdbcType=VARCHAR}%'
		</select>
	</mapper>