<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.studentms.dao.ICommitInfoDao">
	<resultMap type="com.kingsoft.studentms.model.CommitInfo" id="commitInfo">
		<result column="COMMIT_ID" property="commitId" jdbcType="INTEGER" />
		<result column="PUBLISH_ID" property="publishId" jdbcType="INTEGER" />
		<result column="STU_USERNAME" property="stuUsername" jdbcType="VARCHAR" />
		<result column="COMMIT_PATH" property="commitPath" jdbcType="VARCHAR" />
		<result column="COMMIT_LAST" property="commitLast" jdbcType="DATE" />
	</resultMap>
	
	<!-- 得到所有的提交记录 -->
	<select id="getCommitList" resultType="com.kingsoft.studentms.model.CommitInfo">
		select * from COMMIT_INFO where PUBLISH_ID=#{publishId,jdbcType=VARCHAR}
	</select>
</mapper>