<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.studentms.dao.ICourseDao">
	<resultMap type="com.kingsoft.studentms.model.Course" id="course">
		<result column="COURSE_ID" property="courseId" jdbcType="INTEGER" />
		<result column="SCHOOL_ID" property="schoolId" jdbcType="INTEGER" />
		<result column="COURSE_NAME" property="courseName" jdbcType="VARCHAR" />
		<result column="COURSE_STATUS" property="courseStatus" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.kingsoft.studentms.model.MyAssignment" id="myAssignment">
		<result column="DEPART_ID" property="departId" jdbcType="INTEGER" />
		<result column="DEPART_NAME" property="departName" jdbcType="INTEGER" />
		<result column="SCHOOL_NAME" property="schoolName" jdbcType="VARCHAR" />
		<result column="ISASSIGN" property="isAssign" jdbcType="INTEGER" />
	</resultMap>
	<insert id="addCourse">
		INSERT into COURSE(SCHOOL_ID,COURSE_NAME,COURSE_STATUS) VALUES(#{schoolId},#{courseName},#{courseStatus})
	</insert>
	<select id ="courseAssignSum" resultType="int">
		SELECT
			COUNT (*)
		FROM
			DEPARTMENT D,
			SCHOOL S
		WHERE
			DEPART_STATUS = 1
		AND D.SCHOOL_ID = S.SCHOOL_ID	
		AND D.DEPART_NAME LIKE '%${departName}%'
	</select>
	<select id = "selectCourseAssignment" resultMap = "myAssignment">
		SELECT
			*
		FROM
			(
				SELECT
					A .*, ROWNUM RN,(SELECT count(*) from COURSE_ASSIGN C where C.DEPART_ID = A.DEPART_ID) ISASSIGN
				FROM
					(
						SELECT
							D .*, S.SCHOOL_NAME
						FROM
							DEPARTMENT D,
							SCHOOL S
						WHERE
							DEPART_STATUS = 1
						AND D .SCHOOL_ID = S.SCHOOL_ID  and D.DEPART_NAME like '%${departName}%'
					) A
			)where <![CDATA[RN <=#{limit} AND RN>#{offset}]]>
	</select>
</mapper>