<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.studentms.dao.IExamPlanDao">
	<resultMap type="com.kingsoft.studentms.model.ExamPlan" id="examPlan">
		<result column="EXAM_ID" property="examId" jdbcType="INTEGER"/>
		<result column="EXAM_TILTE" property="examTitle" jdbcType="VARCHAR"/>
		<result column="EXAM_PLAN_PATH" property="examPath" jdbcType="VARCHAR"/>
	</resultMap>
</mapper>