<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.studentms.dao.ISchoolDao">
	<resultMap type="com.kingsoft.studentms.model.School" id="school">
		<result column="SCHOOL_ID" property="schoolId" jdbcType="INTEGER" />
		<result column="SCHOOL_NAME" property="schoolName" jdbcType="VARCHAR" />
		<result column="SCHOOL_STATUS" property="schoolStatus" jdbcType="VARCHAR" />
	</resultMap>
	<select id="dSchoolList" resultMap = "school">
		select * from school where school_status = 1
	</select>
	<select id="getSchoolRows" resultType="int">
		select count(*) from school where school_status = 1
	</select>
	<insert id="dAddSchool">
		insert into school(SCHOOL_NAME,SCHOOL_STATUS) VALUES(#{schoolName},1)
	</insert>
	<select id="dSelectSchool" resultMap = "school">
		select * from SCHOOL where SCHOOL_NAME = #{_schoolName} and SCHOOL_STATUS = 1
	</select>
</mapper>