<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.studentms.dao.IScoreDao">
	<resultMap type="com.kingsoft.studentms.model.Score" id="score">
		<result column="SCORE_ID" property="scoreId" jdbcType="INTEGER"/>
		<result column="COURSE_ID" property="scoreId" jdbcType="INTEGER"/>
		<result column="STUDENT_ID" property="scoreId" jdbcType="INTEGER"/>
		<result column="MARK" property="mark" jdbcType="INTEGER"/>
	</resultMap>
</mapper>