<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.studentms.dao.IUserInfoDao">	
	<resultMap type="com.kingsoft.studentms.model.UserInfo" id="userInfo">
		<result column="USER_ID" property="userId" jdbcType="INTEGER"/>
		<result column="USERNAME" property="username" jdbcType="VARCHAR"/>
		<result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
		<result column="REALNAME" property="realName" jdbcType="VARCHAR"/>
		<result column="HEAD_IMAGE" property="headImage" jdbcType="VARCHAR"/>
		<result column="SEX" property="sex" jdbcType="VARCHAR"/>
		<result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
		<result column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR"/>
		<result column="EMAIL" property="email" jdbcType="VARCHAR"/>
		<result column="USER_ADDRESS" property="userAddress" jdbcType="VARCHAR"/>
		<result column="ID_NUM" property="idNum" jdbcType="VARCHAR"/>
		<result column="USERTYPE" property="userType" jdbcType="VARCHAR"/>
		<result column="VALID" property="valid" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 登录检查 -->
	<select id="login" resultType="com.kingsoft.studentms.model.UserInfo">
		select * from USERINFO where USERNAME=#{username,jdbcType=VARCHAR} AND
		PASSWORD=#{password,jdbcType=VARCHAR} AND VALID=1
	</select>
	
	<!-- 添加查重校验 -->
	<select id="addCheack" resultType="com.kingsoft.studentms.model.UserInfo">
		select * from USERINFO where USERNAME=#{username,jdbcType=VARCHAR}
	</select>
	
	<!-- 单个用户添加 -->
	<insert id="add"  parameterType="java.lang.Object">
		insert into USERINFO(USERNAME,PASSWORD,SEX,USERTYPE,VALID) 
		VALUES(#{userInfo.username,jdbcType=VARCHAR},
		#{userInfo.password,jdbcType=VARCHAR},
		#{userInfo.sex,jdbcType=VARCHAR},
		#{userInfo.userType,jdbcType=VARCHAR},
		#{userInfo.valid,jdbcType=VARCHAR})
	</insert>
	
	<!-- 批量用户添加 -->
	<insert id="addForeach" parameterType="java.util.List">
		insert all
		<foreach collection="userList" item="u">
			into USERINFO(USERNAME,PASSWORD,SEX,USERTYPE,VALID) VALUES(
			#{u.username,jdbcType=VARCHAR},
			#{u.password,jdbcType=VARCHAR},
			#{u.sex,jdbcType=VARCHAR},
			#{u.userType,jdbcType=VARCHAR},
			#{u.valid,jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
	<!-- 完善用户信息 -->
	<update id="update" parameterType="java.lang.Object">
		update USERINFO 
		<if test="userInfo.realName!=null">
			set REALNAME=#{userInfo.realName,jdbcType=VARCHAR}
		</if>
		<if test="userInfo.headImage!=null">
			set HEAD_IMAGE=#{userInfo.headImage,jdbcType=VARCHAR}
		</if>
		<if test="userInfo.birthday!=null">
			set BIRTHDAY=#{userInfo.birthday,jdbcType=DATE}
		</if>
		<if test="userInfo.phoneNum!=null">
			set PHONE_NUM=#{userInfo.phoneNum,jdbcType=VARCHAR}
		</if>
		<if test="userInfo.email!=null">
			set EMAIL=#{userInfo.email,jdbcType=VARCHAR}
		</if>
		<if test="userInfo.userAddress!=null">
			set USER_ADDRESS=#{userInfo.userAddress,jdbcType=VARCHAR}
		</if>
		<if test="userInfo.idNum!=null">
			set ID_NUM=#{userInfo.idNum,jdbcType=VARCHAR}
		</if>
		where USERNAME=#{userInfo.username,jdbcType=VARCHAR}
	</update>
</mapper>