/* 
* @Author: anchen
* @Date:   2017-07-25 09:49:11
* @Last Modified by:   anchen
* @Last Modified time: 2017-08-20 20:13:32
*/
.header{
    background-color: #95B8E7;
}
.header__wrap{
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;

}
.header__logo{
    position: absolute;
    height: 24px;
    /*width: 200px;*/
    top: 50%;
    left: 20px;
    margin-top: -12px;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    text-indent: 30px;
    background: url('../../img/logo.png') left center no-repeat;
    background-size: 27px 24px;
}
.header__logout{
    position: absolute;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    background: url('../../img/logout.png') left center no-repeat;
    background-size: 16px 16px;
    text-indent: 18px;
    top: 50%;
    margin-top: -9px;

    right: 20px;
    cursor: pointer;
}

#exam_menu,#message_menu,#job_menu{
    float: right;
    margin-right: 5px;
}
#job_menu{
    margin-right: 10px;
}
.exam_menu_div{
    background:#f0f0f0;
    padding:10px;
    text-align:left;
}
.message_menu_div{
    width: 100px;
}
.job_menu_div{
    width: 100px;
}
.menu-content p{
    font-size:14px;
    color:#444;
}
.menu-content p.important_message{
    color:#f01400;
}
.menu-content p.common_message{
    color:#FF6347;
}
.my_menu_content{
    background:#f0f0f0;
    padding:10px;
    text-align:left;
    max-width:300px;
    text-indent: 2px;
}
.my_menu_content img{
    width:50px;
    height:50px;
}
#password_dlg{
    padding: 20px;
}
